:host {
    // background-image: url("/assets/images/logo_regione_calabria.png");

}

.logo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 100px;
    padding: 32px;
    border-radius: 5px;
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 100%;
        color: black
    }

    img {
        height: 100%;
    }
}

.loginPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 235px;
    padding: 32px;
    border-radius: 5px;
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.87);

    button {
        width: 100%;
        margin-top: 30px;
    }
}