.card {
    max-width: 90%;
    margin: 50px auto;

    .material-icons {
        color: darkred;
    }

    mat-card-content {

        form {

            .sectionTitle {
                text-align: center;
                font-weight: bold;
            }

            .sectionBody {

                .formRow {
                    position: relative;

                    span {
                        margin-right: 10px;
                        font-weight: bold;
                    }

                    mat-form-field {
                        margin: 10px;
                        width: 20%
                    }

                    button {
                        position: absolute;
                        top: 50%;
                        right: 0px;
                        transform: translate(0%, -50%);
                    }
                }
            }

            .asiliSection {
                padding: 10px;
                margin-bottom: 10px;
            }

            .residenzeAnzianiSection {
                padding: 10px;
            }

            .residenzeDisabiliSection {
                padding: 10px;
            }
        }
    }

    mat-card-actions {
        display: flex;
        justify-content: space-evenly;
    }
}