<mat-card class="card">

    <mat-card-header>
        <div mat-card-avatar class="header-image">
            <i class="material-icons">edit</i>
        </div>

        <mat-card-title>Dettaglio</mat-card-title>
        <mat-card-subtitle>Comune di {{comune?.nome}} in provincia di {{comune?.provincia}}</mat-card-subtitle>

    </mat-card-header>


    <mat-card-content>

        <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="">

            <div *ngIf="comune?.asiliNido.length > 0" class="sectionBody asiliSection">

                <p class="sectionTitle">Sezione Asili:</p>

                <div class="formRow" *ngFor="let asilo of comune?.asiliNido; let i = index">

                    <span>{{i+1}})</span>

                    <mat-form-field class="">
                        <input [readonly]="!allowEdit && idComune != loggedUser.idComune" matInput type="text"
                            placeholder="Nome dell'asilo" ngModel #asiloNome_{{i+1}}="ngModel"
                            name="{{ 'asiloNome_' + (i+1) }}" id="{{ 'asiloNome_' + (i+1) }}"
                            [(ngModel)]="comune?.asiliNido[i].nome" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <input [readonly]="!allowEdit && idComune != loggedUser.idComune" matInput type="text"
                            placeholder="Indirizzo dell'asilo" ngModel #asiloIndirizzo_{{i+1}}="ngModel"
                            name="{{ 'asiloIndirizzo_' + (i+1) }}" id="{{ 'asiloIndirizzo_' + (i+1) }}"
                            [(ngModel)]="comune?.asiliNido[i].indirizzo" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <span matPrefix>+39 &nbsp;</span>
                        <input [readonly]="!allowEdit && idComune != loggedUser.idComune" matInput type="tel"
                            placeholder="Telefono dell'asilo" ngModel #asiloTelefono_{{i+1}}="ngModel"
                            name="{{ 'asiloTelefono_' + (i+1) }}" id="{{ 'asiloTelefono_' + (i+1) }}"
                            [(ngModel)]="comune?.asiliNido[i].telefono" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <input [readonly]="!allowEdit && idComune != loggedUser.idComune" matInput type="number"
                            placeholder="Numero stanze dell'asilo" ngModel #asiloNumeroStanze_{{i+1}}="ngModel"
                            name="{{ 'asiloNumeroStanze_' + (i+1) }}" id="{{ 'asiloNumeroStanze_' + (i+1) }}"
                            [(ngModel)]="comune?.asiliNido[i].numeroStanze" autocomplete="off" required>
                    </mat-form-field>

                    <button *ngIf="allowEdit || idComune == loggedUser.idComune" mat-raised-button color="warn"
                        (click)="onDeleteRow(comune.asiliNido, i)">Elimina</button>

                </div>

                <!-- ADDING ROW -->
                <form *ngIf="allowEdit || idComune == loggedUser.idComune" #addRowFormAsili="ngForm"
                    class="addRow formRow">

                    <div class="aggiungiDiv">Aggiungi</div>

                    <mat-form-field class="">
                        <input matInput type="text" placeholder="Nome dell'asilo" ngModel name="asiloNidoAppoggioNome"
                            id="asiloNidoAppoggioNome" [(ngModel)]="asiloNidoAppoggio.nome" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <input matInput type="text" placeholder="Indirizzo dell'asilo" ngModel
                            name="asiloNidoAppoggioIndirizzo" id="asiloNidoAppoggioIndirizzo"
                            [(ngModel)]="asiloNidoAppoggio.indirizzo" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <span matPrefix>+39 &nbsp;</span>
                        <input matInput type="tel" placeholder="Telefono dell'asilo" ngModel
                            name="asiloNidoAppoggioTelefono" id="asiloNidoAppoggioTelefono"
                            [(ngModel)]="asiloNidoAppoggio.telefono" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <input matInput type="number" placeholder="Numero stanze dell'asilo" ngModel
                            name="asiloNidoAppoggioNumeroStanze" id="asiloNidoAppoggioNumeroStanze"
                            [(ngModel)]="asiloNidoAppoggio.numeroStanze" autocomplete="off" required>
                    </mat-form-field>

                    <button type="button" mat-raised-button color="primary" (click)="onAddAsiloNido()"
                        [disabled]="!addRowFormAsili.valid">
                        Aggiungi</button>

                </form>

            </div>

            <div *ngIf="comune?.residenzeAnziani.length > 0" class="sectionBody residenzeAnzianiSection">

                <p class="sectionTitle">Sezione Residenze Anziani:</p>

                <div class="formRow" *ngFor="let residenzaAnziani of comune?.residenzeAnziani; let i = index">

                    <span>{{i+1}})</span>

                    <mat-form-field class="">
                        <input [readonly]="!allowEdit && idComune != loggedUser.idComune" matInput type="text"
                            placeholder="Nome della residenza anziani" ngModel #residenzaAnzianiNome_{{i+1}}="ngModel"
                            name="{{ 'residenzaAnzianiNome_' + (i+1) }}" id="{{ 'residenzaAnzianiNome_' + (i+1) }}"
                            [(ngModel)]="comune?.residenzeAnziani[i].nome" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <input [readonly]="!allowEdit && idComune != loggedUser.idComune" matInput type="text"
                            placeholder="Indirizzo della residenza anziani" ngModel
                            #residenzaAnzianiIndirizzo_{{i+1}}="ngModel"
                            name="{{ 'residenzaAnzianiIndirizzo_' + (i+1) }}"
                            id="{{ 'residenzaAnzianiIndirizzo_' + (i+1) }}"
                            [(ngModel)]="comune?.residenzeAnziani[i].indirizzo" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <span matPrefix>+39 &nbsp;</span>
                        <input [readonly]="!allowEdit && idComune != loggedUser.idComune" matInput type="tel"
                            placeholder="Telefono della residenza anziani" ngModel
                            #residenzaAnzianiTelefono_{{i+1}}="ngModel" name="{{ 'residenzaAnzianiTelefono_' + (i+1) }}"
                            id="{{ 'residenzaAnzianiTelefono_' + (i+1) }}"
                            [(ngModel)]="comune?.residenzeAnziani[i].telefono" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <input [readonly]="!allowEdit && idComune != loggedUser.idComune" matInput type="number"
                            placeholder="Numero stanze della residenza anziani" ngModel
                            #residenzaAnzianiNumeroStanze_{{i+1}}="ngModel"
                            name="{{ 'residenzaAnzianiNumeroStanze_' + (i+1) }}"
                            id="{{ 'residenzaAnzianiNumeroStanze_' + (i+1) }}"
                            [(ngModel)]="comune?.residenzeAnziani[i].numeroStanze" autocomplete="off" required>
                    </mat-form-field>

                    <button *ngIf="allowEdit || idComune == loggedUser.idComune" mat-raised-button color="warn"
                        (click)="onDeleteRow(comune.residenzeAnziani, i)">Elimina</button>

                </div>

                <!-- ADDING ROW -->
                <form *ngIf="allowEdit || idComune == loggedUser.idComune" #addRowFormAnziani="ngForm"
                    class="addRow formRow">

                    <div class="aggiungiDiv">Aggiungi</div>

                    <mat-form-field class="">
                        <input matInput type="text" placeholder="Nome della residenza anziani" ngModel
                            name="residenzaAnzianiAppoggioNome" id="residenzaAnzianiAppoggioNome"
                            [(ngModel)]="residenzaAnzianiAppoggio.nome" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <input matInput type="text" placeholder="Indirizzo della residenza anziani" ngModel
                            name="residenzaAnzianiAppoggioIndirizzo" id="residenzaAnzianiAppoggioIndirizzo"
                            [(ngModel)]="residenzaAnzianiAppoggio.indirizzo" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <span matPrefix>+39 &nbsp;</span>
                        <input matInput type="tel" placeholder="Telefono della residenza anziani" ngModel
                            name="residenzaAnzianiAppoggioTelefono" id="residenzaAnzianiAppoggioTelefono"
                            [(ngModel)]="residenzaAnzianiAppoggio.telefono" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <input matInput type="number" placeholder="Numero stanze della residenza anziani" ngModel
                            name="residenzaAnzianiAppoggioNumeroStanze" id="residenzaAnzianiAppoggioNumeroStanze"
                            [(ngModel)]="residenzaAnzianiAppoggio.numeroStanze" autocomplete="off" required>
                    </mat-form-field>

                    <button type="button" mat-raised-button color="primary" (click)="onAddResidenzaAnziani()"
                        [disabled]="!addRowFormAnziani.valid">
                        Aggiungi</button>

                </form>

            </div>

            <div *ngIf="comune?.residenzeDisabili.length > 0" class="sectionBody residenzeDisabiliSection">

                <p class="sectionTitle">Sezione Residenze Disabili:</p>

                <div class="formRow" *ngFor="let asilo of comune?.residenzeDisabili; let i = index">

                    <span>{{i+1}})</span>

                    <mat-form-field class="">
                        <input [readonly]="!allowEdit && idComune != loggedUser.idComune" matInput type="text"
                            placeholder="Nome della residenza disabili" ngModel #residenzaDisabiliNome_{{i+1}}="ngModel"
                            name="{{ 'residenzaDisabiliNome_' + (i+1) }}" id="{{ 'residenzaDisabiliNome_' + (i+1) }}"
                            [(ngModel)]="comune?.residenzeDisabili[i].nome" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <input [readonly]="!allowEdit && idComune != loggedUser.idComune" matInput type="text"
                            placeholder="Indirizzo della residenza disabili" ngModel
                            #residenzaDisabiliIndirizzo_{{i+1}}="ngModel"
                            name="{{ 'residenzaDisabiliIndirizzo_' + (i+1) }}"
                            id="{{ 'residenzaDisabiliIndirizzo_' + (i+1) }}"
                            [(ngModel)]="comune?.residenzeDisabili[i].indirizzo" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <span matPrefix>+39 &nbsp;</span>
                        <input [readonly]="!allowEdit && idComune != loggedUser.idComune" matInput type="tel"
                            placeholder="Telefono della residenza disabili" ngModel
                            #residenzaDisabiliTelefono_{{i+1}}="ngModel"
                            name="{{ 'residenzaDisabiliTelefono_' + (i+1) }}"
                            id="{{ 'residenzaDisabiliTelefono_' + (i+1) }}"
                            [(ngModel)]="comune?.residenzeDisabili[i].telefono" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <input [readonly]="!allowEdit && idComune != loggedUser.idComune" matInput type="number"
                            placeholder="Numero stanze della residenza disabili" ngModel
                            #residenzaDisabiliNumeroStanze_{{i+1}}="ngModel"
                            name="{{ 'residenzaDisabiliNumeroStanze_' + (i+1) }}"
                            id="{{ 'residenzaDisabiliNumeroStanze_' + (i+1) }}"
                            [(ngModel)]="comune?.residenzeDisabili[i].numeroStanze" autocomplete="off" required>
                    </mat-form-field>

                    <button *ngIf="allowEdit || idComune == loggedUser.idComune" mat-raised-button color="warn"
                        (click)="onDeleteRow(comune.residenzeDisabili, i)">Elimina</button>

                </div>

                <!-- ADDING ROW -->
                <form *ngIf="allowEdit || idComune == loggedUser.idComune" #addRowFormDisabili="ngForm"
                    class="addRow formRow">

                    <div class="aggiungiDiv">Aggiungi</div>

                    <mat-form-field class="">
                        <input matInput type="text" placeholder="Nome della residenza disabili" ngModel
                            name="residenzaDisabiliAppoggioNome" id="residenzaDisabiliAppoggioNome"
                            [(ngModel)]="residenzaDisabiliAppoggio.nome" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <input matInput type="text" placeholder="Indirizzo della residenza disabili" ngModel
                            name="residenzaDisabiliAppoggioIndirizzo" id="residenzaDisabiliAppoggioIndirizzo"
                            [(ngModel)]="residenzaDisabiliAppoggio.indirizzo" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <span matPrefix>+39 &nbsp;</span>
                        <input matInput type="tel" placeholder="Telefono della residenza disabili" ngModel
                            name="residenzaDisabiliAppoggioTelefono" id="residenzaDisabiliAppoggioTelefono"
                            [(ngModel)]="residenzaDisabiliAppoggio.telefono" autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field class="">
                        <input matInput type="number" placeholder="Numero stanze della residenza disabili" ngModel
                            name="residenzaDisabiliAppoggioNumeroStanze" id="residenzaDisabiliAppoggioNumeroStanze"
                            [(ngModel)]="residenzaDisabiliAppoggio.numeroStanze" autocomplete="off" required>
                    </mat-form-field>

                    <button type="button" mat-raised-button color="primary" (click)="onAddResidenzaDisabili()"
                        [disabled]="!addRowFormDisabili.valid">
                        Aggiungi</button>

                </form>

            </div>

        </form>

    </mat-card-content>

    <mat-card-actions>
        <button mat-button mat-raised-button color="primary" routerLink="/comuni">Torna indietro</button>
        <button mat-button mat-raised-button color="accent" type="submit" (click)="onSubmit()"
            *ngIf="allowEdit || idComune == loggedUser.idComune">Salva</button>
        <!-- [routerLink]="['/comuni', id]" -->
    </mat-card-actions>

</mat-card>